version: '3.3'
services:
  database:
    container_name: database-server
    hostname: database-server
    image: mariadb
    restart: always
    volumes:
      - database_data:/var/lib/mysql
    env_file:
      - db.env
    networks:
      - cloud
  app:
    container_name: cloud-server
    hostname: cloud-server
    image: nextcloud:18-fpm
    stdin_open: true
    tty: true
    restart: always
    expose:
      - '443'
      - '9000'
    depends_on:
      - database
    links:
      - database
    environment:
      - MYSQL_HOST=database
    env_file:
      - db.env
    networks:
      - cloud
    volumes:
      - app_root:/var/www/html
      - cloud_data:/var/www/html/data
      - ./fonts:/usr/share/fonts/truetype
  bitwarden:
    container_name: secure-server
    hostname: secure-server
    image: bitwardenrs/server:alpine
    stdin_open: true
    tty: true
    restart: always
    expose:
      - '443'
    env_file:
      - bw.env
    networks:
      - cloud
    volumes:
      - secure_data:/data/
  backup:
    container_name: backup-services
    hostname: backup-services
    image: dimosella/backup:latest
    restart: always
    env_file:
      - db.env
      - bu.env
    networks:
      - cloud
    volumes:
      - app_root:/backup/source-root
      - cloud_data:/backup/source-cloud
      - secure_data:/backup/source-secure
      - backup_data:/backup/target
      - ./backup/scripts:/scripts
      - ./backup/crontab:/etc/crontabs/root
      - ../../.ssh:/root/.ssh:ro
  nginx:
    container_name: nginx-server
    image: nginx
    stdin_open: true
    tty: true
    restart: always
    ports:
      - 80:80
      - 443:443
    links:
      - app
    networks:
      - cloud
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/:/etc/nginx/etc/ssl
      - ../ssl/dhparam.pem:/etc/ssl/dhparam.pem
      - ../ssl/.htpasswd:/etc/ssl/.htpasswd
      - app_root:/var/www/html
networks:
  cloud:
    driver: 'bridge'
volumes:
  database_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/mariadb
  cloud_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/nextcloud
  secure_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/bitwarden
  backup_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/backup
#  docker_socket:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: /var/run/docker.sock
  app_root:
