version: '3'
services:
  database:
    container_name: database-server
    image: mariadb
    restart: always
    volumes:
      - database_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=
    env_file:
      - db.env
    networks:
      - onlyoffice
  app:
    container_name: cloud-server
    image: nextcloud:fpm
    stdin_open: true
    tty: true
    restart: always
    expose:
      - '80'
      - '9000'
    depends_on:
      - database
    links:
      - database
    environment:
      - MYSQL_HOST=database
    env_file:
      - db.env
    networks:
      - onlyoffice
    volumes:
      - app_root:/var/www/html
      - cloud_data:/var/www/html/data
  onlyoffice-document-server:
    container_name: document-server
    image: onlyoffice/documentserver:latest
    stdin_open: true
    tty: true
    restart: always
    networks:
      - onlyoffice
    expose:
      - '80'
      - '443'
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
  nginx:
    container_name: nginx-server
    image: nginx
    stdin_open: true
    tty: true
    restart: always
    ports:
      - 80:80
      - 443:443
    links:
      - app
    networks:
      - onlyoffice
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - app_root:/var/www/html
networks:
  onlyoffice:
    driver: 'bridge'
volumes:
  document_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/onlyoffice
  database_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/mariadb
  cloud_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /media/clouddata/nextcloud
  document_log:
  app_root:
